openapi: 3.1.0
info:
  title: PalmaHost Cloud API
  version: 1.0.0
  description: >
    Public API for PalmaHost Cloud. The panel is just another client of this
    API — anything the panel does can be done here. JSON always; cursor
    pagination; stable error codes; idempotency on money/resource writes.


    This document is the source of truth: docs, mocks and SDKs derive from it,
    and it tracks `docs/api-surface.md` exactly (field names, paths, methods,
    auth).


    ## Conventions

    - **Success (object)**: `{ "data": <object> }`.

    - **Success (list)**: `{ "data": [...], "meta": { "cursor": "<last-id>",
      "has_more": bool, "total": int } }` (`cursor`/`total` omitted when zero;
      a nil slice serializes as `[]`).

    - **Error**: `{ "error": { "code": "VALIDATION_ERROR", "message": "...",
      "docs": "https://docs.palmahost.sh/errors/<CODE>" } }`.

    - **Money**: integer minor units (cents) + ISO-4217 currency; never floats.
      Most structs use raw `*_cents` int64 fields.

    - **IDs**: `<prefix>_<uuidv7hex>` (time-ordered, used as pagination cursors).

    - **Idempotency**: write endpoints accept `Idempotency-Key: <key>`; replays
      return the stored response with `Idempotency-Replayed: true`.
  contact:
    name: PalmaHost
    url: https://docs.palmahost.sh

servers:
  - url: https://my.palmahost.sh/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: catalog
    description: Public product/plan/location catalog.
  - name: auth
    description: Registration, login, sessions, MFA and passkeys.
  - name: tokens
    description: API token management (session-only; tokens can never manage tokens).
  - name: account
    description: Account profile, preferences, team, IP allowlist and groups.
  - name: billing
    description: Balance, ledger, top-ups, invoices, auto-topup and gift cards.
  - name: promotions
    description: Promotion code validation.
  - name: payments
    description: Provider payment webhooks (public, signature-verified).
  - name: services
    description: Compute instances and their lifecycle.
  - name: network
    description: IPs, firewall rules and private networks.
  - name: snapshots
    description: Instance snapshots.
  - name: backups
    description: Scheduled backups.
  - name: monitoring
    description: Metrics and cloud alerts.
  - name: ddos
    description: DDoS protection profiles and events.
  - name: ssh-keys
    description: SSH public keys and per-service attachment.
  - name: apps
    description: App marketplace catalog and per-service 1-click installs.
  - name: cron-jobs
    description: Scheduled URL pinger jobs, plans and run history.
  - name: webhooks
    description: Outbound webhook endpoints and deliveries.
  - name: affiliate
    description: Affiliate program, tracking and payouts.
  - name: support
    description: Tickets, knowledge base and shared credentials.
  - name: operational
    description: Health, readiness, version, metrics and ping.
  - name: admin-auth
    description: Staff authentication and impersonation.
  - name: admin-staff
    description: Staff member management.
  - name: admin-core
    description: Catalog, account, billing and service administration.
  - name: admin-support
    description: Staff support queue.
  - name: admin-fleet
    description: Cluster, node and guest fleet management.

paths:
  # ── Operational (not under /v1, documented for completeness) ──────────
  /healthz:
    servers:
      - url: https://my.palmahost.sh
    get:
      tags: [operational]
      summary: Liveness probe
      operationId: getHealthz
      security: []
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /readyz:
    servers:
      - url: https://my.palmahost.sh
    get:
      tags: [operational]
      summary: Readiness probe
      operationId: getReadyz
      security: []
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
        "503": { $ref: "#/components/responses/ErrorResponse" }
  /version:
    servers:
      - url: https://my.palmahost.sh
    get:
      tags: [operational]
      summary: Build version
      operationId: getVersion
      security: []
      responses:
        "200":
          description: Version info
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string }
                  commit: { type: string }
                  built_at: { type: string, format: date-time }
  /metrics:
    servers:
      - url: https://my.palmahost.sh
    get:
      tags: [operational]
      summary: Prometheus metrics
      operationId: getMetrics
      security: []
      responses:
        "200":
          description: Prometheus exposition format
          content:
            text/plain:
              schema: { type: string }
  /ping:
    get:
      tags: [operational]
      summary: Authenticated ping
      operationId: ping
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }

  # ── Catalog (public) ──────────────────────────────────────────────────
  /products:
    get:
      tags: [catalog]
      summary: List products
      operationId: listProducts
      security: []
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Product" }
  /plans:
    get:
      tags: [catalog]
      summary: List plans
      operationId: listPlans
      security: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      responses:
        "200":
          description: Plans
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Plan" }
  /locations:
    get:
      tags: [catalog]
      summary: List locations
      operationId: listLocations
      security: []
      responses:
        "200":
          description: Locations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Location" }
  /locations/{id}/latency:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [catalog]
      summary: Latency probe hint for a location
      operationId: getLocationLatency
      security: []
      responses:
        "200":
          description: Latency probe info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
                # data: { location_id, code, probe_url }

  # ── Auth ────────────────────────────────────────────────────────────
  /auth/register:
    post:
      tags: [auth]
      summary: Register a new account
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                name: { type: string }
                company_name: { type: string }
                language: { type: string }
      responses:
        "201":
          description: Created user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/ErrorResponse" }
        "409": { $ref: "#/components/responses/ErrorResponse" }
  /auth/login:
    post:
      tags: [auth]
      summary: Password + optional TOTP login
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                totp_code: { type: string }
      responses:
        "200": { $ref: "#/components/responses/SessionResponse" }
        "401": { $ref: "#/components/responses/ErrorResponse" }
  /auth/logout:
    post:
      tags: [auth]
      summary: Log out the current session
      operationId: logout
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /auth/refresh:
    post:
      tags: [auth]
      summary: Rotate the refresh token (reuse detection)
      operationId: refreshToken
      security:
        - cookieAuth: []
        - {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string }
      responses:
        "200": { $ref: "#/components/responses/SessionResponse" }
        "401": { $ref: "#/components/responses/ErrorResponse" }
  /auth/verify-email:
    post:
      tags: [auth]
      summary: Verify an email address
      operationId: verifyEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        "200":
          description: Verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: verified }
  /auth/password/reset-request:
    post:
      tags: [auth]
      summary: Request a password reset email
      operationId: requestPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /auth/password/reset:
    post:
      tags: [auth]
      summary: Complete a password reset
      operationId: resetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token: { type: string }
                new_password: { type: string, format: password }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /auth/passkey/login/begin:
    post:
      tags: [auth]
      summary: Begin a passkey login ceremony
      operationId: beginPasskeyLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: WebAuthn assertion options
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id: { type: string }
                  options: { type: object, additionalProperties: true }
  /auth/passkey/login/finish:
    post:
      tags: [auth]
      summary: Finish a passkey login ceremony
      operationId: finishPasskeyLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, assertion]
              properties:
                session_id: { type: string }
                assertion: { type: object, additionalProperties: true }
      responses:
        "200": { $ref: "#/components/responses/SessionResponse" }
  /auth/password/change:
    post:
      tags: [auth]
      summary: Change the authenticated user's password
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string, format: password }
                new_password: { type: string, format: password }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /auth/sessions:
    get:
      tags: [auth]
      summary: List active sessions
      operationId: listSessions
      responses:
        "200":
          description: Sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Session" }
  /auth/sessions/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [auth]
      summary: Revoke a session
      operationId: revokeSession
      responses:
        "204": { description: Revoked }
  /auth/totp/enroll:
    post:
      tags: [auth]
      summary: Begin TOTP enrollment
      operationId: enrollTotp
      responses:
        "200":
          description: TOTP secret and provisioning URI
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string }
                  provisioning_uri: { type: string }
  /auth/totp/confirm:
    post:
      tags: [auth]
      summary: Confirm TOTP enrollment
      operationId: confirmTotp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: confirmed }
  /auth/passkey/register/begin:
    post:
      tags: [auth]
      summary: Begin a passkey registration ceremony
      operationId: beginPasskeyRegistration
      responses:
        "200":
          description: WebAuthn creation options
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id: { type: string }
                  options: { type: object, additionalProperties: true }
  /auth/passkey/register/finish:
    post:
      tags: [auth]
      summary: Finish a passkey registration ceremony
      operationId: finishPasskeyRegistration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, credential]
              properties:
                session_id: { type: string }
                name: { type: string }
                credential: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: registered }

  # ── API tokens (session-only) ────────────────────────────────────────
  /tokens:
    get:
      tags: [tokens]
      summary: List API tokens
      operationId: listTokens
      responses:
        "200":
          description: Tokens
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/APIToken" }
    post:
      tags: [tokens]
      summary: Create an API token (secret shown once)
      operationId: createToken
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name: { type: string }
                scopes:
                  type: array
                  items: { type: string, example: "services:read" }
                ip_allowlist:
                  type: array
                  items: { type: string }
                rate_limit_rpm: { type: integer }
      responses:
        "201":
          description: Created token (with one-time secret)
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token: { $ref: "#/components/schemas/APIToken" }
                          secret: { type: string }
  /tokens/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [tokens]
      summary: Revoke a token
      operationId: revokeToken
      responses:
        "204": { description: Revoked }

  # ── Account ───────────────────────────────────────────────────────────
  /account:
    get:
      tags: [account]
      summary: Get account profile
      operationId: getAccount
      responses:
        "200":
          description: Account profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AccountProfile" }
    patch:
      tags: [account]
      summary: Update account profile
      operationId: updateAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                company_name: { type: string }
                tax_id: { type: string }
                billing_address: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AccountProfile" }
  /account/preferences:
    put:
      tags: [account]
      summary: Update account preferences
      operationId: updatePreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [language, currency, notification_channels]
              properties:
                language: { type: string }
                currency: { type: string }
                notification_channels:
                  type: array
                  items: { type: string }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /account/support-pin:
    put:
      tags: [account]
      summary: Set the account support PIN
      operationId: setSupportPin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pin]
              properties:
                pin: { type: string }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /account/team/:
    get:
      tags: [account]
      summary: List team members
      operationId: listTeamMembers
      responses:
        "200":
          description: Team members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/TeamMember" }
    post:
      tags: [account]
      summary: Invite a team member
      operationId: createTeamMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, permissions]
              properties:
                email: { type: string, format: email }
                permissions:
                  type: array
                  items: { type: string }
      responses:
        "201":
          description: Created team member
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/TeamMember" }
  /account/team/{userID}:
    parameters:
      - name: userID
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [account]
      summary: Remove a team member
      operationId: deleteTeamMember
      responses:
        "204": { description: Removed }
  /account/ip-allowlist/:
    get:
      tags: [account]
      summary: Get the account IP allowlist
      operationId: getIpAllowlist
      responses:
        "200": { $ref: "#/components/responses/CidrList" }
    put:
      tags: [account]
      summary: Replace the account IP allowlist
      operationId: setIpAllowlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cidrs]
              properties:
                cidrs:
                  type: array
                  items: { type: string }
      responses:
        "200": { $ref: "#/components/responses/CidrList" }
  /account/groups/:
    get:
      tags: [account]
      summary: List service groups (projects)
      operationId: listServiceGroups
      responses:
        "200":
          description: Service groups
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/ServiceGroup" }
    post:
      tags: [account]
      summary: Create a service group
      operationId: createServiceGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "201":
          description: Created group
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ServiceGroup" }
  /account/groups/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [account]
      summary: Delete a service group
      operationId: deleteServiceGroup
      responses:
        "204": { description: Deleted }

  # ── Billing ─────────────────────────────────────────────────────────
  /billing/balance:
    get:
      tags: [billing]
      summary: Current balance
      operationId: getBalance
      responses:
        "200":
          description: Balance
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Money" }
  /billing/transactions:
    get:
      tags: [billing]
      summary: List ledger transactions
      operationId: listTransactions
      parameters:
        - $ref: "#/components/parameters/TypeQuery"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Transactions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Transaction" }
  /billing/topup:
    post:
      tags: [billing]
      summary: Top up balance via a payment provider
      operationId: createTopup
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_cents, provider, currency, withdrawal_waived]
              properties:
                amount_cents: { type: integer, format: int64 }
                provider: { type: string, enum: [redsys, paypal, cryptomus] }
                currency: { type: string, example: EUR }
                withdrawal_waived: { type: boolean }
      responses:
        "200":
          description: Payment intent with redirect URL
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          payment_id: { type: string }
                          redirect_url: { type: string }
        "409": { $ref: "#/components/responses/ErrorResponse" }
  /billing/invoices:
    get:
      tags: [billing]
      summary: List invoices
      operationId: listInvoices
      responses:
        "200":
          description: Invoices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Invoice" }
  /billing/invoices/{id}/pdf:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [billing]
      summary: Download an invoice PDF
      operationId: getInvoicePdf
      responses:
        "200":
          description: PDF document
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "404": { $ref: "#/components/responses/ErrorResponse" }
  /billing/auto-topup:
    get:
      tags: [billing]
      summary: Get auto top-up configuration
      operationId: getAutoTopup
      responses:
        "200":
          description: Auto top-up config
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AutoTopup" }
    put:
      tags: [billing]
      summary: Configure auto top-up
      operationId: updateAutoTopup
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AutoTopup" }
      responses:
        "200":
          description: Updated auto top-up config
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AutoTopup" }
  /billing/gift-cards/redeem:
    post:
      tags: [billing]
      summary: Redeem a gift card
      operationId: redeemGiftCard
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Redeemed gift card
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/GiftCard" }

  # ── Promotions ────────────────────────────────────────────────────────
  /promotions/validate:
    post:
      tags: [promotions]
      summary: Validate a promotion code
      operationId: validatePromotion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Promotion
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Promotion" }

  # ── Payments webhook (public, signature-verified) ─────────────────────
  /webhooks/payments/{provider}:
    parameters:
      - name: provider
        in: path
        required: true
        schema: { type: string, enum: [redsys, paypal, cryptomus] }
    post:
      tags: [payments]
      summary: Receive a payment provider webhook
      operationId: paymentsWebhook
      description: >
        Raw provider body and headers; signature-verified. Body is opaque and
        provider-specific.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema: { type: string, example: "OK" }
        "400": { $ref: "#/components/responses/ErrorResponse" }

  # ── Services ────────────────────────────────────────────────────────
  /services:
    get:
      tags: [services]
      summary: List services
      operationId: listServices
      parameters:
        - $ref: "#/components/parameters/StatusQuery"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/GroupId"
      responses:
        "200":
          description: Services
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Instance" }
    post:
      tags: [services]
      summary: Deploy a service (charges balance)
      operationId: createService
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateServiceInput" }
      responses:
        "201":
          description: Created service
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Instance" }
        "409": { $ref: "#/components/responses/ErrorResponse" }
  /services/{id}/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [services]
      summary: Get a service
      operationId: getService
      responses:
        "200": { $ref: "#/components/responses/InstanceResponse" }
        "404": { $ref: "#/components/responses/ErrorResponse" }
    patch:
      tags: [services]
      summary: Update a service label
      operationId: updateService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string }
      responses:
        "200": { $ref: "#/components/responses/InstanceResponse" }
    delete:
      tags: [services]
      summary: Terminate a service
      operationId: terminateService
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202": { description: Termination scheduled }
  /services/{id}/reboot:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Reboot a service
      operationId: rebootService
      responses:
        "202": { $ref: "#/components/responses/Accepted" }
  /services/{id}/shutdown:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Shut down a service
      operationId: shutdownService
      responses:
        "202": { $ref: "#/components/responses/Accepted" }
  /services/{id}/start:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Start a service
      operationId: startService
      responses:
        "202": { $ref: "#/components/responses/Accepted" }
  /services/{id}/reinstall:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Reinstall the OS
      operationId: reinstallService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [os_image]
              properties:
                os_image: { type: string }
      responses:
        "202":
          description: Reinstalling
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: reinstalling }
  /services/{id}/resize:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Resize to a new plan
      operationId: resizeService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_plan_id]
              properties:
                new_plan_id: { type: string }
      responses:
        "200": { $ref: "#/components/responses/InstanceResponse" }
  /services/{id}/clone:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Clone a service
      operationId: cloneService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string }
      responses:
        "201":
          description: Cloned service
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Instance" }
  /services/{id}/renew:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Renew a service
      operationId: renewService
      responses:
        "200": { $ref: "#/components/responses/InstanceResponse" }
  /services/{id}/status:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [services]
      summary: Live server status
      operationId: getServiceStatus
      responses:
        "200":
          description: Server status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ServerStatus" }
  /services/{id}/credentials:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [services]
      summary: Get service credentials
      operationId: getServiceCredentials
      responses:
        "200":
          description: Credentials
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          username: { type: string }
                          password: { type: string }
  /services/{id}/reset-password:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Reset the service password
      operationId: resetServicePassword
      responses:
        "200":
          description: New password
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          password: { type: string }
  /services/{id}/console:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [services]
      summary: Get the noVNC console URL
      operationId: getServiceConsole
      responses:
        "200":
          description: Console URL
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url: { type: string }
  /services/{id}/console/ticket:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [services]
      summary: Mint a console WebSocket ticket
      operationId: createConsoleTicket
      responses:
        "200":
          description: Console ticket
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          ticket: { type: string }
                          password: { type: string }
                          ws_path: { type: string }
  /console/ws:
    get:
      tags: [services]
      summary: Console WebSocket (ticket auth)
      operationId: consoleWebSocket
      description: >
        WebSocket upgrade endpoint authenticated by the `ticket` query param
        (outside the bearer auth group). Returns HTTP 101 on upgrade.
      security: []
      parameters:
        - name: ticket
          in: query
          required: true
          schema: { type: string }
      responses:
        "101": { description: Switching Protocols (WebSocket) }

  # ── Network ─────────────────────────────────────────────────────────
  /services/{id}/ips/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [network]
      summary: List service IPs
      operationId: listServiceIps
      responses:
        "200":
          description: IPs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/IP" }
  /services/{id}/firewall/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [network]
      summary: List firewall rules
      operationId: listFirewallRules
      responses:
        "200":
          description: Rules
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/FirewallRule" }
    post:
      tags: [network]
      summary: Create a firewall rule
      operationId: createFirewallRule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FirewallRule" }
      responses:
        "201":
          description: Created rule
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/FirewallRule" }
  /services/{id}/firewall/export:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [network]
      summary: Export the firewall ruleset
      operationId: exportFirewall
      responses:
        "200":
          description: JSON document (attachment)
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /services/{id}/firewall/import:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [network]
      summary: Replace the ruleset from a JSON document
      operationId: importFirewall
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Imported rules
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/FirewallRule" }
  /services/{id}/firewall/{ruleID}:
    parameters:
      - $ref: "#/components/parameters/PathID"
      - name: ruleID
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [network]
      summary: Delete a firewall rule
      operationId: deleteFirewallRule
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: deleted }
  /services/{id}/private-networks/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [network]
      summary: List private networks a service is attached to
      operationId: listServicePrivateNetworks
      responses:
        "200":
          description: Private networks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PrivateNetwork" }
    post:
      tags: [network]
      summary: Attach the service to a private network
      operationId: attachPrivateNetwork
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [network_id]
              properties:
                network_id: { type: string }
      responses:
        "200":
          description: Attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: attached }
  /services/{id}/private-networks/{networkID}:
    parameters:
      - $ref: "#/components/parameters/PathID"
      - name: networkID
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [network]
      summary: Detach the service from a private network
      operationId: detachPrivateNetwork
      responses:
        "204": { description: Detached }
  /ips/{id}/rdns:
    parameters:
      - $ref: "#/components/parameters/PathID"
    put:
      tags: [network]
      summary: Set rDNS/PTR for an IP
      operationId: setIpRdns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rdns]
              properties:
                rdns: { type: string }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id: { type: string }
                          rdns: { type: string }
  /private-networks/:
    get:
      tags: [network]
      summary: List the account's private networks
      operationId: listPrivateNetworks
      responses:
        "200":
          description: Private networks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PrivateNetwork" }
    post:
      tags: [network]
      summary: Create a private network
      operationId: createPrivateNetwork
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, cidr, location_id]
              properties:
                name: { type: string }
                cidr: { type: string }
                location_id: { type: string }
                vlan: { type: integer }
      responses:
        "201":
          description: Created private network
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PrivateNetwork" }
  /private-networks/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [network]
      summary: Delete a private network
      operationId: deletePrivateNetwork
      responses:
        "204": { description: Deleted }

  # ── Snapshots ─────────────────────────────────────────────────────────
  /services/{id}/snapshots/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [snapshots]
      summary: List snapshots
      operationId: listSnapshots
      responses:
        "200":
          description: Snapshots
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Snapshot" }
    post:
      tags: [snapshots]
      summary: Create a snapshot
      operationId: createSnapshot
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "201":
          description: Created snapshot
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Snapshot" }
  /snapshots/{id}/restore:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [snapshots]
      summary: Restore a snapshot
      operationId: restoreSnapshot
      responses:
        "202":
          description: Restoring
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: restoring }
  /snapshots/{id}/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [snapshots]
      summary: Delete a snapshot
      operationId: deleteSnapshot
      responses:
        "204": { description: Deleted }

  # ── Backups ─────────────────────────────────────────────────────────
  /services/{id}/backups/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [backups]
      summary: List backups
      operationId: listBackups
      responses:
        "200":
          description: Backups
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Backup" }
    post:
      tags: [backups]
      summary: Create a backup schedule
      operationId: createBackup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [schedule, retention]
              properties:
                schedule: { type: string }
                retention: { type: integer }
      responses:
        "201":
          description: Created backup
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Backup" }

  # ── Monitoring ────────────────────────────────────────────────────────
  /services/{id}/metrics/:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [monitoring]
      summary: Historical metrics
      operationId: listMetrics
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: Metric series
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MetricPoint" }
  /services/{id}/metrics/stream:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [monitoring]
      summary: Live metrics stream (SSE)
      operationId: streamMetrics
      responses:
        "200":
          description: Server-Sent Events stream of MetricPoint
          content:
            text/event-stream:
              schema: { type: string }
  /alerts/:
    get:
      tags: [monitoring]
      summary: List cloud alerts
      operationId: listAlerts
      responses:
        "200":
          description: Alerts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CloudAlert" }
    post:
      tags: [monitoring]
      summary: Create a cloud alert
      operationId: createAlert
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CloudAlert" }
      responses:
        "201":
          description: Created alert
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CloudAlert" }
  /alerts/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    put:
      tags: [monitoring]
      summary: Update a cloud alert
      operationId: updateAlert
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CloudAlert" }
      responses:
        "200":
          description: Updated alert
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CloudAlert" }
    delete:
      tags: [monitoring]
      summary: Delete a cloud alert
      operationId: deleteAlert
      responses:
        "204": { description: Deleted }

  # ── DDoS ─────────────────────────────────────────────────────────────
  /ddos/profiles:
    get:
      tags: [ddos]
      summary: List DDoS profiles
      operationId: listDdosProfiles
      responses:
        "200":
          description: Profiles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/DdosProfile" }
  /services/{id}/ddos/profile:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [ddos]
      summary: Get applied DDoS profiles for a service
      operationId: getServiceDdosProfile
      responses:
        "200":
          description: Applied profiles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          profiles:
                            type: array
                            items: { type: string }
    put:
      tags: [ddos]
      summary: Apply a DDoS profile
      operationId: applyServiceDdosProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [profile]
              properties:
                profile: { type: string }
      responses:
        "200":
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: applied }
    delete:
      tags: [ddos]
      summary: Remove a DDoS profile
      operationId: removeServiceDdosProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [profile]
              properties:
                profile: { type: string }
      responses:
        "204": { description: Removed }
  /services/{id}/ddos/events:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [ddos]
      summary: List DDoS mitigation events
      operationId: listServiceDdosEvents
      responses:
        "200":
          description: Events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/DdosEvent" }

  # ── SSH keys ─────────────────────────────────────────────────────────
  /ssh-keys/:
    get:
      tags: [ssh-keys]
      summary: List SSH keys
      operationId: listSshKeys
      responses:
        "200":
          description: SSH keys
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Key" }
    post:
      tags: [ssh-keys]
      summary: Add an SSH key
      operationId: createSshKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, public_key]
              properties:
                name: { type: string }
                public_key: { type: string }
      responses:
        "201":
          description: Created key
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Key" }
  /ssh-keys/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [ssh-keys]
      summary: Delete an SSH key
      operationId: deleteSshKey
      responses:
        "204": { description: Deleted }
  /services/{id}/ssh-keys/{keyID}/:
    parameters:
      - $ref: "#/components/parameters/PathID"
      - name: keyID
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [ssh-keys]
      summary: Attach an SSH key to a service
      operationId: attachServiceSshKey
      responses:
        "200":
          description: Attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: attached }
    delete:
      tags: [ssh-keys]
      summary: Detach an SSH key from a service
      operationId: detachServiceSshKey
      responses:
        "204": { description: Detached }

  # ── App marketplace ─────────────────────────────────────────────────
  /apps:
    get:
      tags: [apps]
      summary: List marketplace apps
      operationId: listApps
      description: Read-only catalog of 1-click installable apps. Requires the `apps:read` scope.
      parameters:
        - name: target
          in: query
          required: false
          schema: { type: string, example: vps }
          description: Filter apps by deploy target (e.g. `vps`).
      responses:
        "200":
          description: Apps
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/App" }
  /apps/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
        description: App slug.
    get:
      tags: [apps]
      summary: Get a marketplace app
      operationId: getApp
      description: Requires the `apps:read` scope.
      responses:
        "200":
          description: App
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/App" }
  /services/{id}/apps:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [apps]
      summary: List app installs on a service
      operationId: listServiceApps
      description: Requires the `apps:read` scope.
      responses:
        "200":
          description: App installs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/AppInstall" }
    post:
      tags: [apps]
      summary: Install an app on a service
      operationId: installServiceApp
      description: Requires the `apps:write` scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug]
              properties:
                slug: { type: string }
                params:
                  type: object
                  additionalProperties: { type: string }
      responses:
        "202":
          description: Install accepted
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AppInstall" }
  /services/{id}/apps/{installID}:
    parameters:
      - $ref: "#/components/parameters/PathID"
      - name: installID
        in: path
        required: true
        schema: { type: string }
        description: App install ID.
    get:
      tags: [apps]
      summary: Get an app install
      operationId: getServiceApp
      description: Requires the `apps:read` scope.
      responses:
        "200":
          description: App install
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AppInstall" }
    delete:
      tags: [apps]
      summary: Remove an app install
      operationId: removeServiceApp
      description: Requires the `apps:write` scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Removal accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: removing }
  /services/{id}/apps/{installID}/credentials:
    parameters:
      - $ref: "#/components/parameters/PathID"
      - name: installID
        in: path
        required: true
        schema: { type: string }
        description: App install ID.
    get:
      tags: [apps]
      summary: Get app install credentials
      operationId: getServiceAppCredentials
      description: Returns generated secrets for the install. Requires the `apps:read` scope.
      responses:
        "200":
          description: Install credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  secrets:
                    type: object
                    additionalProperties: { type: string }
  /services/{id}/apps/{installID}/reinstall:
    parameters:
      - $ref: "#/components/parameters/PathID"
      - name: installID
        in: path
        required: true
        schema: { type: string }
        description: App install ID.
    post:
      tags: [apps]
      summary: Reinstall an app
      operationId: reinstallServiceApp
      description: Requires the `apps:write` scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Reinstall accepted
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AppInstall" }

  # ── Cron Jobs ───────────────────────────────────────────────────────
  /cron-jobs:
    get:
      tags: [cron-jobs]
      summary: Cron jobs overview
      operationId: getCronOverview
      description: >
        Returns the account's cron tier, current plan, available plans, allowed
        intervals and all jobs. Requires the `cron:read` scope.
      responses:
        "200":
          description: Cron overview
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronOverview" }
    post:
      tags: [cron-jobs]
      summary: Create a cron job
      operationId: createCronJob
      description: Requires the `cron:write` scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url, interval_sec]
              properties:
                name: { type: string }
                url: { type: string, format: uri }
                method: { type: string, example: GET }
                headers:
                  type: object
                  additionalProperties: { type: string }
                body: { type: string }
                interval_sec: { type: integer }
      responses:
        "201":
          description: Created cron job
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJob" }
  /cron-jobs/upgrade:
    post:
      tags: [cron-jobs]
      summary: Upgrade the cron tier
      operationId: upgradeCronTier
      description: Requires the `cron:write` scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier]
              properties:
                tier: { type: string }
                coupon: { type: string }
      responses:
        "200":
          description: Upgraded tier
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tier: { type: string }
  /cron-jobs/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [cron-jobs]
      summary: Get a cron job
      operationId: getCronJob
      description: Requires the `cron:read` scope.
      responses:
        "200":
          description: Cron job
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJob" }
    patch:
      tags: [cron-jobs]
      summary: Update a cron job
      operationId: updateCronJob
      description: Partial update. Requires the `cron:write` scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                url: { type: string, format: uri }
                method: { type: string }
                headers:
                  type: object
                  additionalProperties: { type: string }
                body: { type: string }
                interval_sec: { type: integer }
                enabled: { type: boolean }
      responses:
        "200":
          description: Updated cron job
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJob" }
    delete:
      tags: [cron-jobs]
      summary: Delete a cron job
      operationId: deleteCronJob
      description: Requires the `cron:write` scope.
      responses:
        "204": { description: Deleted }
  /cron-jobs/{id}/pause:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [cron-jobs]
      summary: Pause a cron job
      operationId: pauseCronJob
      description: Requires the `cron:write` scope.
      responses:
        "200":
          description: Paused cron job
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJob" }
  /cron-jobs/{id}/resume:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [cron-jobs]
      summary: Resume a cron job
      operationId: resumeCronJob
      description: Requires the `cron:write` scope.
      responses:
        "200":
          description: Resumed cron job
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJob" }
  /cron-jobs/{id}/run:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [cron-jobs]
      summary: Trigger a cron job now
      operationId: runCronJob
      description: Requires the `cron:write` scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Run accepted
          headers:
            Idempotency-Replayed:
              $ref: "#/components/headers/IdempotencyReplayed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJob" }
  /cron-jobs/{id}/runs:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [cron-jobs]
      summary: List cron job runs
      operationId: listCronRuns
      description: Requires the `cron:read` scope.
      parameters:
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Cron runs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CronRun" }

  # ── Webhooks ────────────────────────────────────────────────────────
  /webhooks:
    get:
      tags: [webhooks]
      summary: List webhook endpoints
      operationId: listWebhooks
      responses:
        "200":
          description: Webhook endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/WebhookEndpoint" }
    post:
      tags: [webhooks]
      summary: Register a webhook endpoint
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events:
                  type: array
                  items: { type: string }
      responses:
        "201":
          description: Created endpoint
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/WebhookEndpoint" }
  /webhooks/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [webhooks]
      summary: Delete a webhook endpoint
      operationId: deleteWebhook
      responses:
        "204": { description: Deleted }
  /webhooks/{id}/deliveries:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [webhooks]
      summary: List webhook deliveries
      operationId: listWebhookDeliveries
      responses:
        "200":
          description: Deliveries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/WebhookDelivery" }
  /webhooks/{id}/test:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [webhooks]
      summary: Send a test event
      operationId: testWebhook
      responses:
        "202":
          description: Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: sent }

  # ── Affiliate ───────────────────────────────────────────────────────
  /affiliate:
    get:
      tags: [affiliate]
      summary: Affiliate dashboard
      operationId: getAffiliate
      responses:
        "200":
          description: Affiliate
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Affiliate" }
  /affiliate/enroll:
    post:
      tags: [affiliate]
      summary: Enroll in the affiliate program
      operationId: enrollAffiliate
      responses:
        "201":
          description: Enrolled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Affiliate" }
  /affiliate/clicks:
    post:
      tags: [affiliate]
      summary: Record an affiliate click
      operationId: recordAffiliateClick
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /affiliate/signups:
    post:
      tags: [affiliate]
      summary: Record an affiliate signup
      operationId: recordAffiliateSignup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /affiliate/conversions:
    post:
      tags: [affiliate]
      summary: Record an affiliate conversion
      operationId: recordAffiliateConversion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, amount_cents, currency]
              properties:
                code: { type: string }
                amount_cents: { type: integer, format: int64 }
                currency: { type: string, example: EUR }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /affiliate/payouts:
    get:
      tags: [affiliate]
      summary: List affiliate payouts
      operationId: listAffiliatePayouts
      responses:
        "200":
          description: Payouts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/AffiliatePayout" }
    post:
      tags: [affiliate]
      summary: Request an affiliate payout
      operationId: createAffiliatePayout
      responses:
        "201":
          description: Created payout
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/AffiliatePayout" }

  # ── Support ─────────────────────────────────────────────────────────
  /support/tickets:
    get:
      tags: [support]
      summary: List support tickets
      operationId: listTickets
      responses:
        "200":
          description: Tickets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Ticket" }
    post:
      tags: [support]
      summary: Open a support ticket
      operationId: createTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, department, priority]
              properties:
                subject: { type: string }
                department: { type: string }
                priority: { type: string }
      responses:
        "201":
          description: Created ticket
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Ticket" }
  /support/tickets/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    get:
      tags: [support]
      summary: Get a ticket with its messages
      operationId: getTicket
      responses:
        "200":
          description: Ticket and messages
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          ticket: { $ref: "#/components/schemas/Ticket" }
                          messages:
                            type: array
                            items: { $ref: "#/components/schemas/TicketMessage" }
  /support/tickets/{id}/messages:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [support]
      summary: Post a message to a ticket
      operationId: createTicketMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        "201":
          description: Created message
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/TicketMessage" }
  /support/tickets/{id}/close:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [support]
      summary: Close a ticket
      operationId: closeTicket
      responses:
        "200": { $ref: "#/components/responses/TicketResponse" }
  /support/kb:
    get:
      tags: [support]
      summary: Search the knowledge base
      operationId: searchKnowledgeBase
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Locale"
      responses:
        "200":
          description: Articles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/KBArticle" }
  /support/credentials:
    post:
      tags: [support]
      summary: Share a credential with support (encrypted, TTL'd)
      operationId: createSharedCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label, secret, ttl_minutes]
              properties:
                label: { type: string }
                secret: { type: string }
                ttl_minutes: { type: integer }
      responses:
        "201":
          description: Shared credential
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/SharedCredential" }

  # ── Admin: auth ─────────────────────────────────────────────────────
  /admin/auth/login:
    post:
      tags: [admin-auth]
      summary: Staff login
      operationId: adminLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, totp_code]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                totp_code: { type: string }
      responses:
        "200": { $ref: "#/components/responses/SessionResponse" }
        "401": { $ref: "#/components/responses/ErrorResponse" }
  /admin/auth/refresh:
    post:
      tags: [admin-auth]
      summary: Rotate the staff refresh token
      operationId: adminRefresh
      security:
        - cookieAuth: []
        - {}
      responses:
        "200": { $ref: "#/components/responses/SessionResponse" }
  /admin/auth/logout:
    post:
      tags: [admin-auth]
      summary: Staff logout
      operationId: adminLogout
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id: { type: string }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /admin/auth/totp/enroll:
    post:
      tags: [admin-auth]
      summary: Begin staff TOTP enrollment
      operationId: adminEnrollTotp
      responses:
        "200":
          description: TOTP secret and provisioning URI
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string }
                  provisioning_uri: { type: string }
  /admin/auth/totp/confirm:
    post:
      tags: [admin-auth]
      summary: Confirm staff TOTP enrollment
      operationId: adminConfirmTotp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: confirmed }
  /admin/auth/impersonate/{accountID}:
    parameters:
      - name: accountID
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-auth]
      summary: Impersonate an account
      operationId: adminImpersonate
      responses:
        "200":
          description: Impersonation access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }

  # ── Admin: staff ────────────────────────────────────────────────────
  /admin/staff:
    get:
      tags: [admin-staff]
      summary: List staff members
      operationId: listStaff
      responses:
        "200":
          description: Staff members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/StaffMember" }
    post:
      tags: [admin-staff]
      summary: Create a staff member
      operationId: createStaff
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name, role]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                name: { type: string }
                role: { type: string }
      responses:
        "201":
          description: Created staff member
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/StaffMember" }

  # ── Admin: core ─────────────────────────────────────────────────────
  /admin/products:
    post:
      tags: [admin-core]
      summary: Create a product (products:write)
      operationId: adminCreateProduct
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProductInput" }
      responses:
        "200": { $ref: "#/components/responses/CreatedId" }
  /admin/products/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [admin-core]
      summary: Delete a product (products:write)
      operationId: adminDeleteProduct
      responses:
        "204": { description: Deleted }
  /admin/plans:
    post:
      tags: [admin-core]
      summary: Create a plan (products:write)
      operationId: adminCreatePlan
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlanInput" }
      responses:
        "200": { $ref: "#/components/responses/CreatedId" }
  /admin/plans/{id}:
    parameters:
      - $ref: "#/components/parameters/PathID"
    delete:
      tags: [admin-core]
      summary: Delete a plan (products:write)
      operationId: adminDeletePlan
      responses:
        "204": { description: Deleted }
  /admin/accounts:
    get:
      tags: [admin-core]
      summary: Search accounts (users:read)
      operationId: adminListAccounts
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Accounts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/AccountRow" }
  /admin/accounts/{id}/ban:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Ban an account (users:ban)
      operationId: adminBanAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        "200":
          description: Banned
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: banned }
  /admin/accounts/{id}/unban:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Unban an account (users:ban)
      operationId: adminUnbanAccount
      responses:
        "200":
          description: Active
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: active }
  /admin/accounts/{id}/discount:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Set an account global discount (users:edit)
      operationId: adminSetAccountDiscount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pct]
              properties:
                pct: { type: number }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /admin/accounts/{id}/limit:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Set an account service limit (users:edit)
      operationId: adminSetAccountLimit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [limit]
              properties:
                limit: { type: integer }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /admin/accounts/{id}/balance:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Adjust an account balance (billing:adjust)
      operationId: adminAdjustAccountBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_cents, reason]
              properties:
                amount_cents: { type: integer, format: int64 }
                reason: { type: string }
      responses:
        "200":
          description: Adjusted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: adjusted }
  /admin/accounts/{id}/affiliate:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Set an account affiliate commission (users:edit)
      operationId: adminSetAccountAffiliate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pct]
              properties:
                pct: { type: integer }
      responses:
        "200": { $ref: "#/components/responses/StatusOK" }
  /admin/promotions:
    post:
      tags: [admin-core]
      summary: Create a promotion (promotions:write)
      operationId: adminCreatePromotion
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PromotionInput" }
      responses:
        "200": { $ref: "#/components/responses/CreatedId" }
  /admin/gift-cards:
    post:
      tags: [admin-core]
      summary: Create a gift card (billing:adjust)
      operationId: adminCreateGiftCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_cents, currency]
              properties:
                amount_cents: { type: integer, format: int64 }
                currency: { type: string, example: EUR }
      responses:
        "201":
          description: Created gift card (plaintext code shown once)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DataEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          code: { type: string }
  /admin/services:
    get:
      tags: [admin-core]
      summary: Search services across accounts (users:read)
      operationId: adminListServices
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Services
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/ServiceRow" }
  /admin/services/{id}/transfer:
    parameters:
      - $ref: "#/components/parameters/PathID"
    post:
      tags: [admin-core]
      summary: Transfer a service to another account (services:write)
      operationId: adminTransferService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_id]
              properties:
                account_id: { type: string }
      responses:
        "200":
          description: Transferred
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: transferred }
  /admin/logs:
    get:
      tags: [admin-core]
      summary: List staff audit logs (logs:read)
      operationId: adminListLogs
      parameters:
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
[...]
